

.addtheimg{
    background-image: url('/assets/pictures/sunview-top.png');
}

.Username{
    font-size: 24px;
    margin-left: 50px;
}
.leftsection{
    display: flex ;
    align-items: center;
}
.header-img{
    margin-right:16px ;
}
.header-but{
    margin-left:110px;
    min-width: 117px;
    border: black solid 0;
}
.SignedIn{
    margin-left: 112px;
}
.row{
   
    align-items: center;
    padding: 102px 49px  102px 85px;
}

.church-logo{
    position: absolute;
    right: 10%;

}
.logoholder{
    position: relative;
}
.logosection{
    padding-bottom: 45px;
}

