<div class="container-fluid">
    <div class="row">
        <div class="leftsection col-md-6">
            <div class="header-img "><img src="assets/pictures/eng-arab.png"></div>
            <div><img src="assets/pictures/internet2.png"></div>
            <button *ngIf="!showBut" (click)="checkSignedin()"   class="btn1" id="header-but" routerLink="/SignIn" >Sign in</button>
            <div class="Bolded-Text Username" *ngIf="showBut" ><span class="icon-user-tie"></span> {{FirstName}}</div>
        
        </div>

    <div class="logosection col-md-6">
        <div class="logoholder">
            <img class="church-logo "src="assets/pictures/site-logo.png" >
        </div>
    </div>
        
    

</div>
</div>