@import '/src/styles.scss';
.mycontainer{
    padding-top: 130px;
    background-image: url('/assets/pictures/Bottom-sun-view.png');
    background-repeat: no-repeat;
    background-size: 100%;
}
@include media-breakpoint-up(xl){
.mycontainer{
   
   
    padding-left: 15%;
    padding-right: 15%;
}
}


.tab {
    ul{
        display: inline-block;
        padding-left:0 ;
        margin-bottom: 0;
    }
    li{
        font-size: 29px;
        color: white;
        display: inline-block;
        padding:  13px 41px;
        background-color: rgba(217, 217, 217, 1);
        cursor: pointer;
        
    }
    #Confession{
        border-left: none 0px;
        border-top-right-radius: 20px;
        
    }
    #HolyMass{
        border-top-left-radius: 20px;
        border-right: none 0px;
    }
    .active{
        background-color: white;
        color: $nav-bar-color;
    }
}
form{
    position: relative;
    padding:52px 0;
    border: 1px black none;
    box-shadow: 4px 4px 38px -7px rgba(0, 0, 0, 0.25);
    margin-bottom: 153px;
    background-color: white;
    border-radius: 20px;
    border-top-left-radius: 0px;
.Form-inputs{
    display: flex;
    justify-content: center;
    padding: 0 2%;


}
    .input{
        height: 82px;
        border-radius: 20px;
        margin-right: 20px;
        width: 32%;
        border: 1px solid rgba(156, 156, 156, 1);
        &::content{
            padding: 12px 0 12px 20px;
            color: rgba(156, 156, 156, 1);
            font-weight: bold;
            font-size: 29px;
        }
    }
    .btn1{
        position: absolute;
        top: 151px;
        right: 108px;
        height: 68px;
        width: 206px;
        border-radius: 35px;
    }
    label{
        display: block ;
        margin-right: 20px;
        font-size: 30px;
        align-self: center;
    }
}
#Mass-form{
    margin-bottom: 153px;
}
.Verse{
    font: 35px;
    color: rgba(84, 84, 84, 1);
    font-family: 'Outfit';
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    line-height: 44px;
    text-align: center;
    margin-bottom: 40px;
}
.Verse2{
    font: 35px;
    color: rgba(84, 84, 84, 1);
    font-family: 'Outfit';
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    line-height: 44px;
    text-align: center;

}
.Table{
    margin-bottom: 176px;
    table{
     
        width: 100%;
        text-align: center;
        th{
            background-color:$nav-bar-color ;
            padding: 10px 0;
            color: white;
            border-right:solid 1px white ;
            border-bottom:solid 12px white;
        }
        td{
       
            padding: 10px 0;
            background-color:rgb(238, 213, 213);
            color: black;
            font-weight: bold;
            border-right:solid 1px white ;
            border-bottom:solid 8px white;

        }
        tr{
        margin-bottom: 10px;
        }
    }
    p{
        font-size: 40px;
    }
}
#MassTable{
    th{
        width: 14.28%;
    }
}
.Table-header{
    position: relative;
    .btn1{
        position: absolute;
        right: 0;
        bottom: 0px;
    }
}
#DetailsTable{
    input{
        cursor: pointer;
    }
}

// #background-img{
//      background-image: url('/assets/pictures/Bottom-sun-view.png');
//     background-repeat: no-repeat;
    
// }
