<div class=" mycontainer">
    <div class="tab">
        <ul>
            <li class="Bolded-Text" (click)="ChangeTab('HolyMass')" id="HolyMass">Holy Mass</li>
            <li class="Bolded-Text" (click)="ChangeTab('Confession')" id="Confession"> Confession</li>
        </ul>

    </div>
    <div class="content">
        <div class="content-value" *ngIf=" id ==='HolyMass'" >
            <!-- The Input Section in Mass Tab -->

            <form id="Mass-form" (ngSubmit)="GetMassData(login)" #login="ngForm">
                <div class="Form-inputs form-group">
                    <label for="MassDate">Date:</label>
                    <input required class="form-control input" name="MassDate" [(ngModel)]="mass2.day" type="date" >

                    <label for="TimeSlots">TimeSlot: </label>
                    <select class="Form-inputs input" name="TimeSlots" [(ngModel)]="mass2.TimeSlot" id="Timeslots" placeholder="TimeSlot">
                        <option selected value="FirstMass">FirstMass</option>
                        <option value="SecondMass">SecondMass</option>
                        <option value="1-to-3Mass">Abu-seifeen</option>
                    </select>

                    <label for="places">Place:</label>
                    <select class="Form-inputs input" name="places" [(ngModel)]="mass2.place" id="places" placeholder="Place">
                        <option value="stmark-altar">stmark-altar</option>
                        <option value="youssefelnaggar">youssefelnaggar</option>
                        <option value="Abu-seifeen">Abu-seifeen</option>
                    </select>

                </div>
                <button class="btn1"> Reserve</button>
            </form>
            <!-- mass Verse -->
            <div class="Verse">
                <p>{{Verse2}}</p>
            </div>

            <div id="MassTable" class="Table">
                <p class="Bolded-Text">Upcoming</p>
                <table>
                    <tr>
                        <th>Day</th>
                        <th>Prayer</th>
                        <th>Place / Altar</th>
                        <!-- <th>Altar</th> -->
                        <th>Start Time</th>
                        <th>end time</th>
                        <th>Available seats</th>
                    </tr>
                    <tr *ngFor="let mass of masses ">
                        <td> {{mass.day}}</td>
                        <td> {{mass.prayer}}</td>
                        <td> {{mass.place +" / " + mass.altar}}</td>
                        <!-- <td> {{mass.altar}}</td> -->
                        <td> {{mass.starttime}}</td>
                        <td> {{mass.endtime}}</td>
                        <td> {{mass.AvailablePlaces}}</td>

                    </tr>
                </table>
            </div>

            <div id="DetailsTable" class="Table">
                <div class="Table-header">
                    <p class="Bolded-Text">Reservation Details</p>
                    <button (click)="CancelReservation()" class="btn1">Cancel Reservation</button>
                </div>
                
                <table>
                    <tr>
                        <!-- <th>Name</th> -->
                        <th>Day</th>
                        <th>Prayer</th>
                        <th>Place / altar</th>
                        <!-- <th>altar</th> -->
                        <th>Start Time</th>
                        <th>end time</th>
                        <th>Cancellation</th>
                        <th>Qr Code</th>
                    </tr>
                    <tr *ngFor="let mass of masses ">
                        <!-- <td> {{loggedUser}}</td> -->
                        <!-- <td>Youssef</td> -->
                        <td> {{mass.day}}</td>
                        <td> {{mass.prayer}}</td>
                        <td> {{mass.place +" / "+ mass.altar}}</td>
                        <td> {{mass.starttime}}</td>
                        <td> {{mass.endtime}}</td>
                        <!-- <td> {{mass.AvailablePlaces}}</td> -->
                        <td> <input class="checkbox-delete" type="checkbox"></td>
                        <td><button class="btn1">Print</button></td>

                    </tr>
                </table>
            </div>

            <!-- This is the end of the tab -->
        </div>
        <div class="content-value " *ngIf=" id ==='Confession'">
            <form (ngSubmit)="GetConfessionData(login)" #login="ngForm">
                <div class="Form-inputs form-group">
                    <label for="fathername">Father:</label>
                    <select class="Form-inputs input" name="fathername" [(ngModel)]="test.Fathername" id="fathername">
                        <option *ngFor="let onefather of fathers" value="{{onefather}}">{{onefather}}</option>
                    </select>

                    <label for="MassDate">Date:</label>
                    <input required class="form-control input" name="MassDate" [(ngModel)]="test.ConfessionDay" type="date" >                 
                </div>
                <button class="btn1"> Reserve</button>
            </form>
            <div class="Verse2">
                <p>{{Verse1}}</p>
            </div>

            <div class="Table">
                <p class="Bolded-Text">History</p>

                <table>
                    <tr>
                        <th>Father</th>
                        <th>Day</th>
                        <th>timeslot</th>
                    </tr>
                    <tr *ngFor="let current of oldConfessions ">
                        <td> {{current.Fathername}}</td>
                        <td> {{current.ConfessionDay}}</td>
                    </tr>
                </table>
            </div>
        </div>

    </div>

</div>