<div class=" mycontainer" *ngIf="loggedin">
    <div class="tab">
        <ul>
            <li class="Bolded-Text" (click)="ChangeTab('HolyMass')" id="HolyMass">{{datashown[21]}}</li>
            <li class="Bolded-Text" (click)="ChangeTab('Confession')" id="Confession"> {{datashown[22]}}</li>
        </ul>

    </div>
    <div class="content">
        <div class="content-value" *ngIf=" id ==='HolyMass'" >
            <!-- The Input Section in Mass Tab -->

            <form id="Mass-form" (ngSubmit)="GetMassData(login)" #login="ngForm">
                <div class="Form-inputs form-group">
                    <label for="MassDate">{{datashown[23]}}:</label>
                    <input required class="form-control input" name="MassDate" [(ngModel)]="mass2.date" type="date" >

                    <label for="TimeSlots">{{datashown[24]}} </label>
                    <select class="Form-inputs input" name="TimeSlots" [(ngModel)]="mass2.startTime" id="Timeslots" placeholder="TimeSlot">
                        <option *ngFor="let startime of startimes" value="{{startime}}">{{startime}}</option>
                    </select>

                    <label for="places">{{datashown[25]}}</label>
                    <select class="Form-inputs input" name="places" [(ngModel)]="mass2.location" id="places" placeholder="Place">
                        <option *ngFor="let location of locations" value="{{location}}">{{location}}</option>
                    </select>

                </div>
                <button class="btn1"> {{datashown[26]}}</button>
            </form>
            <!-- mass Verse -->
            <div class="Verse">
                <p>{{datashown[27]}}</p>
            </div>
        <p class="Bolded-Text Header">Upcoming</p>
            <div id="MassTable" class="Table">
           <div class="scroll">
             <table>
                    <tr>
                        <th>Day</th>
                        <th>Place / Altar</th>
                        <!-- <th>Altar</th> -->
                        <th>Start Time</th>
                        <th>end time</th>
                        <th>Available seats</th>
                    </tr>
                    <tr *ngFor="let mass of masses ">
                        <td> {{mass.date}}</td>
                        <td> {{mass.location }}</td>
                        <td> {{mass.startTime}}</td>
                        <td> {{mass.endTime}}</td>
                        <td> {{mass.capacity}}</td>

                    </tr>
                </table>
           </div>
               
            </div>
           
            <div id="DetailsTable" class="Table">
                <div class="Table-header">
                     <p class="Header Bolded-Text">Reservation Details</p>
                    <button (click)="CancelReservation()" class="btn1">Cancel Reservation</button>
                </div>
                <div class="scroll">
                    <table>
                    <tr>
                        <!-- <th>Name</th> -->
                        <th>Day</th>
                        <th>Place / altar</th>
                        <!-- <th>altar</th> -->
                        <th>Start Time</th>
                        <th>end time</th>
                        <th>Cancellation</th>
                        <th>Qr Code</th>
                    </tr>
                    <tr *ngFor="let mass of resMasses ">
                        <!-- <td> {{loggedUser}}</td> -->
                        <!-- <td>Youssef</td> -->
                        <td> {{mass.date}}</td>
                        <td> {{mass.location}}</td>
                        <td> {{mass.startTime}}</td>
                        <td> {{mass.endTime}}</td>
                        <!-- <td> {{mass.AvailablePlaces}}</td> -->
                        <td> <input class="checkbox-delete" type="checkbox"></td>
                        <td><button class="btn1">Print</button></td>

                    </tr>
                </table>
                </div>
                
            </div>

            <!-- This is the end of the tab -->
        </div>
        <div class="content-value " *ngIf=" id ==='Confession'">
            <form (ngSubmit)="GetConfessionData(login)" #login="ngForm">
                <div class="Form-inputs form-group">
                    <label for="fathername">{{datashown[28]}}</label>
                    <select class="Form-inputs input" name="fathername" [(ngModel)]="test.fatherName" id="fathername">
                        <option *ngFor="let onefather of fathers" value="{{onefather}}">{{onefather}}</option>
                    </select>
                    <label for="MassDate">{{datashown[23]}}</label>
                    <input required class="form-control input" name="MassDate" [(ngModel)]="test.date" type="date" >                 
                </div>
                <button class="btn1"> {{datashown[26]}}</button>
            </form>
            <div class="Verse2">
                <p>{{datashown[29]}}</p>
            </div>
    <p class="Header Bolded-Text">History</p>
            <div class="Table scroll ">
                

                <table>
                    <tr>
                        <th>Father</th>
                        <th>Day</th>
                    </tr>
                    <tr *ngFor="let current of oldConfessions ">
                        <td> {{current.fatherName}}</td>
                        <td> {{current.date}}</td>
                    </tr>
                </table>
            </div>
        </div>

    </div>

</div>

<div *ngIf="!loggedin">
    <p class="hidden">
            YOU NEED TO SIGN IN
    </p>
</div>