<div class="container announce-swiper">
    <div class="imp-reminder Bolded-Text">Important Reminders</div>
<swiper [config]="swiperConfig2">
    <ng-template swiperSlide><img src="assets/pictures/alert1.jpg"></ng-template>
    <ng-template swiperSlide><img src="assets/pictures/alert1.jpg"></ng-template>
    <ng-template swiperSlide><img src="assets/pictures/alert1.jpg"></ng-template>
    <ng-template swiperSlide><img src="assets/pictures/alert1.jpg"></ng-template>
    <ng-template swiperSlide><img src="assets/pictures/alert1.jpg"></ng-template>
</swiper>
</div>

