@import "~swiper/css";
@import "~swiper/css/pagination";
@import "~swiper/css/navigation";
.imp-reminder{
    font-size: 32px;
    margin-bottom: 50px;
display: flex;
justify-content: center;
margin-top: 50px
}
.announce-swiper{
    margin-bottom: 106px;
    img{
        width: inherit;
    }
}

