<div class="container announce-swiper">
    <div (click)="ngOnInit()" id="imp-reminder" class="imp-reminder Bolded-Text">{{datashown[9]}}</div>
<swiper [config]="swiperConfig2">
    <ng-template swiperSlide><img src="assets/pictures/alert1.jpg"></ng-template>
    <ng-template swiperSlide><img src="assets/pictures/alert1.jpg"></ng-template>
    <ng-template swiperSlide><img src="assets/pictures/alert1.jpg"></ng-template>
    <ng-template swiperSlide><img src="assets/pictures/alert1.jpg"></ng-template>
    <ng-template swiperSlide><img src="assets/pictures/alert1.jpg"></ng-template>
</swiper>
</div>

