@import "~swiper/css";
@import "~swiper/css/pagination";
@import "~swiper/css/navigation";
.imp-reminder{
    font-size: 32px;
    margin-bottom: 105px;
display: flex;
justify-content: center;
}
.announce-swiper{
    margin-bottom: 106px;
}