
.container{
    margin-top: 102px;
    margin-bottom: 158px;
    padding-bottom: 32px;
    padding-top: 72px;
    background-color: #FBF4F4;
    width: 1100px;
    border-radius: 35px;
}
.sign-in-header{
    font-size: 32px;
text-align: center;
margin-bottom: 45px;
}
#sign-in-tips{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-right: 0;
    margin-bottom: 86px;

}
.sign-in-tips-words{
    width: 461px;
    color: #9C9C9C;
}
.input-form{
    display: grid;
    justify-content: center ;
}
#national-id-inp{
height: 59px;
width: 487px;
margin-bottom: 34px;
border-radius: 10px;
}
#national-id-inp::placeholder{
    padding-left: 9px;
}
#phone-num-inp::placeholder{
    padding-left: 9px;
}
#phone-num-inp{
    display: block;
    height: 59px;
    width: 487px;
    border-radius: 10px;
    margin: 0%;
    margin-bottom: 48px;
}
#rememberme{
    margin-right: 16px;
    border-radius: 5px;
    width: 25px;
    height: 21px;
    font-size: 20px;
}
.checkbox{
    margin-left: 295px;
    display: flex;
    align-items: center;
    margin-bottom: 49px;
}
.button-holder{
    display: flex;
    justify-content: center;
    margin-bottom: 123px;
   button{
    width:487px;
    height: 59px;
   }
}
.forgot-instructions{
    font-size: 20px;
    display: flex;
    justify-content: center;
    margin-bottom: 32px;
    a{
        text-decoration: none;
        color: black;
    }
}
#sign-up-q{
    margin-right:10px ;
}
.rememberme{
   
    font-size: 20px;
}

