<div class="container">
    


        <div class="sign-in-header Bolded-Text">
            User login 
    </div>
    <div class="sign-in-elements">
        <div id="sign-in-tips">
            <div class="sign-in-tips-words Bolded-Text">Please enter your national id and phone number to sign in to St.mark’s website.</div> 
        </div>
        <form (ngSubmit)="submit(login)"  #login="ngForm"> 
            <div class="input-form form-group col-md-12">     
                    <input required minlength="14" maxlength="14" #inputnationalid="ngModel" class="Inputfield form-control" id="national-id-inp" 
                    type="text" placeholder="national id." name="NationalId" ngModel [(ngModel)]="BindedSigninData.id" >
                <input required minlength="11" maxlength="11"  #inputphonenumber="ngModel" class="Inputfield form-control" id="phone-num-inp"
                 type="text" placeholder="phone number" name="PhoneNumber" ngModel [(ngModel)]="BindedSigninData.phonenumber">
            </div>
        <div class="checkbox form-group">
            <input #remembermeBox="ngModel" type="checkbox" name="rememberme" id="rememberme" ngModel [(ngModel)]="BindedSigninData.RemembermeFlag">
            <label for="rememberme " class="Bolded-Text rememberme"> Remember me ?</label>
        </div>
        <div class="button-holder"><button  (click)="GetLoginData(inputnationalid.value,inputphonenumber.value,remembermeBox.value);"
             class="btn1" type="submit" >Submit</button></div>


        </form>
       
        <div class="forgot-instructions">
            <div id="sign-up-q">Don't have an account ?</div>
            <div class="Bolded-Text"><a href="">Sign Up</a></div>
        </div>

    </div>

    

</div>
