
.mycontainer{
    padding:  50px 12.5% ;
}
.donation-title{
    font-size: 80px;
    width: 1000px;
}
.radiobut{
    p{
       margin-bottom: unset;
    }
    display: flex;
    justify-content: center;
    align-items: center;
    border: none 2px black;
    box-shadow: 0px 4px 50px -13px rgba(0, 0, 0, 0.1);
    &:hover{
        border: solid 4px rgb(0, 145, 255);}

}
.donation-input{
    p{
        margin-right: 60px;
    }
    height: 131px;
    font-size: 35px;
    padding-top: 42px;
    padding-bottom: 44px;
    border-radius: 40px;
  
}
input[type="radio"]{
    -webkit-appearance: none;

}
input[type="radio"]:checked + label{
    border-color: rgba(4, 126, 248, 0.1);
    border: solid 4px rgb(0, 145, 255);
}
#bible-verse{
    margin-top: 65px;
    margin-bottom: 48px;
    font-size: 35px;
}
#donation-freq{
    font-size: 30px;
    margin-bottom: 39px;

}
.frequency{
    display: flex;
}
.giving-frequency{
    height: 84px;
    font-size: 25px;
    width: 468px;
    margin-right:32px ;
    border-radius: 30px;
    box-shadow: 0px 4px 50px -13px rgba(0, 0, 0, 0.1);
   
}
.title{
    font-size: 30px;
}
#donation-amount{
    display: flex;
    margin-bottom: 108px;

}
.giving-amount{
    height: 84px;
    width:184px ;
    border-radius: 30px;
    font-size: 30px;
    margin-right: 22px;
}
.donatebut{
    height: 92px;
    width: 307px;
    font-size: 35px;
    border-radius: 30px;
}
.hidden-amount{
    display: flex;
    justify-content: center;
    align-items: end;
    input[type="number"]:focus{
        outline: none;
        background-color: white;
    }
}
#Amount-donated::placeholder{
    color: rgba(156, 156, 156, 1);
    padding-bottom: 22px;
}
#Amount-donated{
    font-size: 30px;
    border: none;
    border-bottom: solid 3px rgba(156, 156, 156, 1);
    padding-bottom: 22px;
}

.showInput{
    display: block;
}
.hidden{
    display: none;
}

// input.ng-untouched.ng-pristine.ng-invalid{
// border: solid 4px red;}
