<div class="mycontainer">
<p class="Bolded-Text Header header1">Payment Method</p>
<p class="Bolded-Text header2">Choose your Payment Method</p>

<form (ngSubmit)="submit(login)"  #login="ngForm">
    <div class="donation-buttons">
    <div class="paymentmethods row">
    <div class="form-group col-md-4">
        <input   ngModel  required value="Visa" type="radio" name="paymentMethod" id="visa">
        <label class="donation-input form-control radiobut Bolded-Text" for="visa"><img id="visa" src="assets/pictures/visa.png" ></label>
    </div>
    <div class=" form-group col-md-4 ">
        <input  ngModel required value="fawry" type="radio" name="paymentMethod" id="fawry">
        <label  class="donation-input form-control radiobut Bolded-Text" for="fawry"><img id="fawry" src="assets/pictures/fawry.png"></label>
    </div>
    </div>
    </div>  
    <p class="Bolded-Text header2">Please enter Card Details</p>
<div class="creditcard ">
                <div class="row ">
                    <div class="col-md-6 form-group">
                        <input  minlength=14 maxlength=14 pattern="[0-9]*" class="donation-input form-control" placeholder="CARD NUMBER"  ngModel required  type="text"  name="cardnumber" id="cardnumber">
                    </div>
                    <div class="col-lg-6 ">
                        <input class="donation-input form-control"  placeholder="EXPIRATION DATE" ngModel required type="date"  name="expdate" id="expdate">
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-lg-6 ">
                        <input class="donation-input form-control"  placeholder="CARD HOLDER NAME" ngModel required  type="text"  name="holdername" id="holdername">
                    </div>
                    <div class="col-lg-6 ">
                        <input class="donation-input form-control" pattern="[0-9]*" minlength=3 maxlength=3 placeholder="CVV" max=3 ngModel required  type="text"  name="Cvv" id="Cvv">
                    </div>
                </div>
    </div>

<div class="Donate">
<p class="donatedamount"> $+300</p>
<button class="btn1">Donate</button>
</div>
     
  


</form>
</div>