
@import "~swiper/scss";
@import "~swiper/scss/pagination";
@import "~swiper/scss/navigation";

.homeslider{
    margin-top: 120px;
    margin-left: 300px  ;
}
.buts{
display: flex;
justify-content: center;
}
.icon-circle-right:hover{
 color: #AF0E2C;
}
.icon-circle-left:hover{
  color: #AF0E2C;
 }
.swiper-buts{
    margin: 0 10px;
 }
 .swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal {
    display: flex;
   margin-left: 35.3rem;
}
.homeslider{
    .swiper-pagination-bullet{
    margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 4px);
    background-color: #545454;
    width: 12px;
    height: 12px;
    border: solid black 1px;
    opacity: var(--swiper-pagination-bullet-inactive-opacity, 0.7);
}
}

.swiper-pagination-bullet-active{
    background-color: white !important;
}
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
 

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
