<div calss= "donate">
    <h1>Where would you like to
        give ?</h1>
        <button type="button" class="btn btn-outline-primary">
            Shelter families
          </button>
          <button type="button" class="btn btn-outline-secondary">
            People in need
          </button>
          <button type="button" class="btn btn-outline-success">
            Church Buildings
          </button>
          <button type="button" class="btn btn-outline-danger">
            Church Projects
          </button>

</div>
