<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <div>Home</div> 
        </li>
        <li class="nav-item">
            <div>Holly Mass Reservation</div> 
        </li>
        <li class="nav-item">
            <div>Services</div> 
        </li>
        <li class="nav-item">
            <div>Donations</div> 
        </li>
        <li class="nav-item">
            <div>About us</div> 
        </li>
      </ul>
    </div>
  </nav>