<div class="container">
   
    <div class="sign-in-element col-md-6">
        <div class="sign-in-header Bolded-Text">
            Sign Up 
        </div>
        <div class="input-form ">
            <input id="national-id-inp" type="text" placeholder="national id.">
            <input id="phone-num-inp" type="text" placeholder="phone number">
            <input id="first-name-inp" type="text" placeholder="first name">
            <input id="second-name-inp" type="text" placeholder="second name">
            <input id="adress-inp" type="text" placeholder="adress">
            <input id="email-inp" type="text" placeholder="email">
        </div>
        <div class="sign-up button-holder"><button class="btn1">Sign Up</button></div>
       
    </div>
    <div class="img-conatiner col-md-6">
        <!-- <img src="assets/pictures/Signup-pic.png" alt=""> -->

    </div>

</div>
