<div class="container">
   
    <div class="sign-in-element col-md-6">
        <div class="sign-in-header Bolded-Text">
            Sign Up 
        </div>
        <form (ngSubmit)="GetUserSignUpData()">
             <div class="input-form form-group">
            <input #nationalinp class="Inputfield form-control " id="national-id-inp" type="text" placeholder="national id." name="nationalid" ngModel [(ngModel)]="UserBinded.nationalid">
            <input #phoneinp class="Inputfield form-control" id="phone-num-inp" type="text" placeholder="phone number"  name="phonenumber" ngModel [(ngModel)]="UserBinded.Phonenum">
            <input #firstinp class="Inputfield form-control" id="first-name-inp" type="text" placeholder="first name" name="FirstName" ngModel [(ngModel)]="UserBinded.firstname">
            <input #secondinp class="Inputfield form-control" id="second-name-inp" type="text" placeholder="second name" name="Second Name" ngModel [(ngModel)]="UserBinded.secondname">
            <input #adressinp class="Inputfield form-control" id="adress-inp" type="text" placeholder="adress" name="Address" ngModel [(ngModel)]="UserBinded.Address">
            <input #emailinp class="Inputfield form-control" id="email-inp" type="text" placeholder="email" name="Email" ngModel [(ngModel)]="UserBinded.email">
        </div>
        <div class="sign-up button-holder"><button class="sign-up-button btn1" (click)="GetSignUpdata(adressinp.value,phoneinp.value,firstinp.value,secondinp.value,adressinp.value,emailinp.value)">Sign Up</button></div>
        </form>
       
       
    </div>
    <div class="img-conatiner col-md-6">
        <img src="assets/pictures/Signup-pic.png" alt="">

    </div>

</div>
