<div class="container">
   <div class="row">
      <div class="sign-in-element col-md-6">
        <div class="sign-in-header Bolded-Text">
            Sign Up 
        </div>
        <form class="my-form" #login="ngForm" (ngSubmit)="GetUserSignUpData(login)">
             <div class="input-form form-group">
            <input  required maxlength="14" minlength="14" pattern="[0-9]*" class="Inputfield form-control " id="national-id-inp" type="text" placeholder="national id." name="nationalid" ngModel [(ngModel)]="UserBinded.id">
            <input  required  maxlength="11" minlength="11" pattern="[0-9]*"  class="Inputfield form-control" id="phone-num-inp" type="text" placeholder="phone number"  name="phonenumber" ngModel [(ngModel)]="UserBinded.phonenumber">
            <input  required class="Inputfield form-control" id="first-name-inp" type="text" placeholder="first name" name="FirstName" ngModel [(ngModel)]="UserBinded.firstname">
            <input  required class="Inputfield form-control" id="second-name-inp" type="text" placeholder="second name" name="Second Name" ngModel [(ngModel)]="UserBinded.lastName">
            <input  required class="Inputfield form-control" id="adress-inp" type="text" placeholder="address" name="Address" ngModel [(ngModel)]="UserBinded.Address">
            <input  required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"  class="Inputfield form-control" id="email-inp" type="text" placeholder="email" name="Email" ngModel [(ngModel)]="UserBinded.email">
        </div>
        <div class="sign-up button-holder"><button class="sign-up-button btn1" >Sign Up</button></div>

        </form>
       
       
    </div>
    <div class="img-conatiner col-md-6">
        <img src="assets/pictures/Signup-pic.png" alt="">

    </div>
   </div>
  

</div>
