<div class=" footer-container">
    <div class="footer-heads Bolded-Text">
    <div class="head-footer">Content</div>
    <div class="head-footer">Help</div>
    <div class="head-footer">Social Media</div>
</div>
<div>
     <ul class="footer-links">
        <li><a href="">Home</a></li>
        <li><a href="">Holly Mass Reservation</a></li>
        <li><a href="">Services</a></li>
        <li><a href="">Donations</a></li>
        <li><a href="">About Us</a></li>
    </ul>
</div>
   
    <div class="copyright Bolded-Text">Gandalf’s Dev. Copyright © 2021-2022 . All rights reserved</div>
</div>