.footer-container{
    background-color: #FFF3F0;
    width: 100%;
    padding-top: 31px;
    padding-bottom: 32px;
}
.footer-heads{
    
    display: flex;
    margin-left:128px ;
    font-size: 20px;
    margin-bottom: 28px;
}
.head-footer{
    margin-right: 225px;
}
.footer-links{
    margin-left:128px ;
    list-style: none;
    padding-left: 0;
    li{
        margin-bottom: 6px;
        font-size: 16px;
    }
    a{
        text-decoration: none;
        color: black;
    }
    a:hover{
        color: rgb(238, 57, 72);
    }
    
}
.copyright{
    margin-left:128px ;
    font-size: 20px;

}