.footer-container{
    background-color: #FFF3F0;
    width: 100%;
    padding-top: 31px;
    padding-bottom: 32px;
}
.footer-heads{
    
    font-size: 20px;
    margin-bottom: 28px;
}
.head-footer{
    margin-right: 225px;
}
.social-list{
    li{
        margin: 0 8px;
    }
}
ul{
  list-style: none;
  padding-left: 0;
    li{
        margin-bottom: 6px;
        font-size: 16px;
    }
    a{
        text-decoration: none;
        color: black;
    }
    a:hover{
        color: rgb(238, 57, 72);
    }
    
}
.copyright{
    font-size: 20px;

    
}
footer{
    padding-left:128px ;
    background-color: #FFF3F0;
    padding-top: 32px;
}
.icon-facebook{
    color: #3b5998;
}
.icon-instagram{
    color:#bc2a8d
}
.icon-whatsapp{
    color:#25D366;
}
.icon-tumblr{
    color:#34526f;
}
#social-media-footer{
margin-left:66px
}