<!-- <div class=" footer-container">
    <div class="footer-heads Bolded-Text">
    <div class="head-footer">Content</div>
    <div class="head-footer">Help</div>
    <div class="head-footer">Social Media</div>
</div>
<div class="col-md-3">
<div>
     <ul class="footer-links">
        <li><a href="">Home</a></li>
        <li><a href="">Holly Mass Reservation</a></li>
        <li><a href="">Services</a></li>
        <li><a href="">Donations</a></li>
        <li><a href="">About Us</a></li>
    </ul>
</div>

</div>

   
</div> -->

<footer>
      <div class="row">
        <!-- First Colomn -->
        <div class="col-md-3 ">
          <div class="footer-heads Bolded-Text">Contents</div>
          <ul class="Nav-links">
            <li><a href="">Home</a></li>
            <li><a href="">Holly Mass Reservation</a></li>
            <li><a href="">Services</a></li>
            <li><a href="">Donations</a></li>
            <li><a href="">About Us</a></li>
        </ul>
        </div>
        <!-- second Colomn -->
        <div class="col-md-3 ">
            <div class="footer-heads Bolded-Text">Help</div>
            <ul class="help-list">
                <li> <a class="Bolded-Text" href=""><span class="icon-phone"> </span> 01007353730</a></li>
                <li><span></span></li>
                <li><span></span></li>


            </ul>
          </div>

          <!-- Third Colomn -->
        <div class="col-md-3 ">
          <div class="footer-heads Bolded-Text" id="social-media-footer">Social Media</div>
  
          <ul class="social-list ">
            <li style="display:inline">
              <a href=""><span class="icon-facebook icons"></span></a>
            </li>
            <li style="display:inline">
              <a href=""><span class="icon-instagram icons"></span></a>
            </li>
            <li style="display:inline"> 
              <a href=""><span class="icon-whatsapp icons"></span></a>
            </li>
            <li style="display:inline">
              <a href=""><span class="icon-tumblr icons"></span></a>
            </li>
            <li style="display:inline">
              <a href=""><span class="icon-youtube2 icons"></span></a>
            </li>
          </ul>
        </div>
       
        
      </div>
    <div class="copyright Bolded-Text">Gandalf’s Dev. Copyright © 2021-2022 . All rights reserved</div>
  </footer>