
<footer>
      <div class="row">
        <!-- First Colomn -->
        <div class="col-md-3 ">
          <div class="footer-heads Bolded-Text" (click)="ngOnInit()" id="reshreshHelper">{{datashown[46]}}</div>
          <ul class="Nav-links">
            <li><a href="">{{datashown[2]}}</a></li>
            <li><a href="">{{datashown[5]}}</a></li>
            <li><a href="">{{datashown[6]}}</a></li>
            <li><a href="">{{datashown[8]}}</a></li>
            <li><a href="">{{datashown[9]}}</a></li>
        </ul>
        </div>
        <!-- second Colomn -->
        <div class="col-md-3 ">
            <div class="footer-heads Bolded-Text">{{datashown[45]}}</div>
            <ul class="help-list">
                <li> <a class="Bolded-Text" href=""><span class="icon-phone"> </span> 01007353730</a></li>
                <li><span></span></li>
                <li><span></span></li>


            </ul>
          </div>

          <!-- Third Colomn -->
        <div class="col-md-3 ">
          <div class="footer-heads Bolded-Text" id="social-media-footer">{{datashown[44]}}</div>
  
          <ul class="social-list ">
            <li style="display:inline">
              <a href="https://www.facebook.com/StMarkosChurchCleopatra/" target="_blank"><span class="icon-facebook icons"></span></a>
            </li>
            <li style="display:inline">
              <a href=""><span class="icon-instagram icons"></span></a>
            </li>
            <li style="display:inline"> 
              <a href=""><span class="icon-whatsapp icons"></span></a>
            </li>
            <li style="display:inline">
              <a href=""><span class="icon-tumblr icons"></span></a>
            </li>
            <li style="display:inline">
              <a href="https://www.youtube.com/c/StMarkosOrgChurch" target="_blank" ><span class="icon-youtube2 icons"></span></a>
            </li>
          </ul>
        </div>
      
      </div>
    <div class="copyright Bolded-Text">{{datashown[21]}}</div>
  </footer>