/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import 'swiper/scss';

@import url(http://fonts.googleapis.com/css?family=Roboto+Slab|Open+Sans:400italic,700italic,400,700);



$backround-main-color:white;
$footer-background-color:#FFF3F0;
$imp-reminder-slider-color:#FBF4F4;
$nav-bar-color:#AF0E2C;

$main-font-weight:bold;
$main-font-size:20px;
