/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import 'swiper/scss';

.btn1{
    height: 33px;
    background-color: #AF0E2C;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    border: solid black 0px;
}

$backround-main-color:white;
$footer-background-color:#FFF3F0;
$nav-bar-color:#AF0E2C;
