
<swiper [config]="swiperConfig" class=" homeslider">
<ng-template swiperSlide><img src="assets/pictures/sa7n.png" ></ng-template>
    <ng-template swiperSlide><img src="assets/pictures/sa7n.png" ></ng-template>
    <ng-template swiperSlide><img src="assets/pictures/sa7n.png" ></ng-template>
  </swiper>
    <div class="buts"><span class="swiper-buts left-but"><img src="assets/pictures/left-arrow.png" alt=""></span>
    <span class=" right-but swiper-buts"><img src="assets/pictures/right-arrow.png" alt=""></span>
  </div>
  
